

body {
    background: #ffe;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* HEADER AND NAVIGATION MENU */

#main-header ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 1.3em;
    box-sizing: border-box;
    color: black;
}

#main-header ul li:hover a {
    text-decoration: underline;
}
#main-header nav {

    padding-left: 10px;
}

.arrow {
    font-size: 25px;
}
#main-header p {
    opacity: 0.7;
}

/* SOCIAL MEDIA DROPDOWN MENU */

#main-header .block-one-social .social-media{
    position: fixed;
    right: 19vw;
    top: -30%;
    width: calc(100% - 90%);
    height: 23vh;
    background: #fff;
    box-shadow: 10px 10px 5px #ccc;
    line-height: 1.6em;
    z-index: 130;
}
#main-header .block-one-social i, #main-header .block-one-social input  {
    position: fixed;
    top: 10vh;
    right: 19vw;
    width: 10%;
    opacity: 0.7;
    z-index: 130;
}
#check-social , #check-options{
    display: none;
}

label #btn-social, label #btn-options {
    position: absolute;
    cursor: pointer;
}

#check-social:checked ~ .social-media {
    top: 15%;
}

/* OPTION MENU SIDEBAR */

#main-header .block-one-options .option-menu{
    position: fixed;
    right: 0.2vw;
    top: -200%;
    width: calc(100% - 84%);
    height: 100%;
    background: #fff;
    line-height: 1.6em;
    overflow: scroll;
    z-index: 1111;
}
#main-header .block-one-options i, #main-header .block-one-options input  {
    position: fixed;
    top: 11%;
    right: 2.6vw;
    width: 2%;
    opacity: 0.7;
    z-index: 1111;
}

#check-options:checked ~ .option-menu {
    top: 1%;
    z-index: 1111;
}
#main-header .block-one-options label #btn-options {
    font-size: 25px;
}
#main-header .block-one-options label #cancel {
    z-index: 1111;
    right: -5vw;
    top: 5%;
    font-size: 25px;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check-options:checked ~ label #cancel {
    right: 4vw;
    z-index: 1130;
}

/* MEDIA QUERIES FOR DROPDOWN MENU AND SIDEBAR MENU */

@media (max-width: 470px) {

/* SOCIAL MEDIA DROPDOWN MENU */

#main-header .block-one-social .social-media{
    position: fixed;
    right: 33vw;
    top: -30%;
    width: 30%;
    height: 100vh;
    background: #fff;
    line-height: 1.6em;
    z-index: 130;
}
#main-header .block-one-social i, #main-header .block-one-social input  {
    position: fixed;
    top: 10vh;
    right: 33vw;
    width: 10%;
    opacity: 0.7;
    z-index: 130;
}
#check-social , #check-options{
    display: none;
}

label #btn-social, label #btn-options {
    position: absolute;
    cursor: pointer;
}

#check-social:checked ~ .social-media {
    top: 15%;
}

/* OPTION MENU SIDEBAR */

#main-header .block-one-options .option-menu{
    position: fixed;
    right: 0.2vw;
    top: -200%;
    width: calc(100% - 66%);
    height: 100%;
    background: #fff;
    line-height: 1.6em;
    overflow: scroll;
    z-index: 1111;
}
#main-header .block-one-options i, #main-header .block-one-options input  {
    position: fixed;
    top: 11%;
    right: 23vw;
    width: 2%;
    opacity: 0.7;
    z-index: 130;
}

#check-options:checked ~ .option-menu {
    top: 1%;
    z-index: 1111;
}
#main-header .block-one-options label #btn-options {
    font-size: 25px;
}
#main-header .block-one-options label #cancel {
    z-index: 1111;
    right: -5vw;
    top: 5%;
    font-size: 25px;
    padding: 4px 9px;
}

#check-options:checked ~ label #cancel {
    right: 14vw;
}


}

@media (max-width: 800px) {

    /* SOCIAL MEDIA DROPDOWN MENU */
    
    #main-header .block-one-social .social-media{
        position: fixed;
        right: 28vw;
        top: -30%;
        width: calc(100% - 80%);
        height: 18vh;
        background: #fff;
        line-height: 1.6em;
        z-index: 130;
    }
    #main-header .block-one-social i, #main-header .block-one-social input  {
        position: fixed;
        top: 10vh;
        right: 28vw;
        width: 10%;
        opacity: 0.7;
        z-index: 130;
    }
    #check-social , #check-options{
        display: none;
    }
    
    label #btn-social, label #btn-options {
        position: absolute;
        cursor: pointer;
    }
    
    #check-social:checked ~ .social-media {
        top: 15%;
    }
    
    /* OPTION MENU SIDEBAR */
    
    #main-header .block-one-options .option-menu{
        position: fixed;
        right: 0.2vw;
        top: -200%;
        width: calc(100% - 60%);
        height: 100%;
        background: #fff;
        line-height: 1.6em;
        overflow: scroll;
    }
    #main-header .block-one-options i, #main-header .block-one-options input  {
        position: fixed;
        top: 11%;
        right: 20vw;
        width: 2%;
        opacity: 0.7;
        z-index: 130;
    }
    
    #check-options:checked ~ .option-menu {
        top: 1%;
    }
    #main-header .block-one-options label #btn-options {
        font-size: 25px;
    }
    #main-header .block-one-options label #cancel {
        z-index: 1111;
        right: -5vw;
        top: 5%;
        font-size: 30px;
        padding: 4px 9px;
    }
    
    #check-options:checked ~ label #cancel {
        right: 18vw;
        z-index: 1117;
    }
    
    
}

/* ADD YOUR CSS RULES BELOW THIS LINE */

/* CONTENT INFORMATION */

section div section.general {
    width: 25%;
    height: 50vh;
    background: #fff;
    box-shadow: 5px 5px 5px #aaa;
    margin: 20px;
    border: 1px #fff solid;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 111;
}

section div section.general h2, section div section.general p {
    text-align: center;
    padding: 0.5em;
}

section#content-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

section#content-info .whole-content-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section#content-info h2.hh {
    text-align: center;
    margin: 0.5em;
    font-size: 2em;
}

/* MEDIA QUERIES FOR CONTENT-INFO */

@media (max-width: 480px) {

    /* CONTENT INFORMATION */

section div section.general {
    width: 60%;
    height: 50vh;
    background: #fff;
    box-shadow: 5px 5px 5px #aaa;
    margin: 20px;
    border: 1px #fff solid;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 111;
}

section div section.general h2, section div section.general p {
    text-align: center;
    padding: 0.5em;
}

section#content-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

section#content-info .whole-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin-top: -28vh;
}

section#content-info h2.hh {
    text-align: center;
    margin: 0.5em;
    font-size: 2em;
}

}
/* MEDIA QUERIES FOR DEVICES WITH MAX 800PX WIDTH */

@media (max-width: 800px) {

    /* CONTENT INFORMATION */

section div section.general {
    width: 60%;
    height: 40vh;
    background: #fff;
    box-shadow: 5px 5px 5px #aaa;
    margin: 20px;
    border: 1px #fff solid;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 111;
}

section div section.general h2, section div section.general p {
    text-align: center;
    padding: 0.5em;
}

section#content-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

section#content-info .whole-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#content-info h2.hh {
    text-align: center;
    margin: 0.5em;
    font-size: 2em;
}

}

/* SHOWCASE */

section#showcase {
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 15vh;
}
section#showcase figure.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section#showcase form {
    width: 70%;
    height: 10vh;
    margin-top: 10px;
    margin-left: 20vw;
    margin-right: 2vw;
}
section#showcase form input[type="text"] {
    
    width: 70%;
    height: 8vh;
    overflow: hidden;
    float: left;
    border: 1px solid #eee;
    border-radius: 0 4px 4px 0;
    margin-bottom: -0.7%;
    border-left: none;
    margin: none;
    background: #fff;
}
section#showcase form button {
    height: 8vh;
    width: 10%;
    float: left;
    border: 1px solid #eee;
    border-radius: 0 4px 4px 0;
    border-right: none;
    background: #fff;
    margin-left: none;
    font-size: 2em;
    opacity: 0.7;
}


.shadow-text {

    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin-top: 10vh;
    margin-left: 9vw;
    margin-right: 50vw;
    text-align: center;
}

.shadow-text p.rating {
    font-family: sans-serif;
    opacity: 0.7;
    color: black;
}

.shadow-text p span.half-star {
    margin-right: 2px;
    opacity: 0.5;
}
.shadow-text h2 {
    font-size: 3em;
    margin-bottom: 4vh;
}
.shadow-text a {
    background: #678fff;
    color: #fff;
    height: 9vh;
    margin: 4vh 6vw 4vh 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

 section#showcase figure.back img {
    width: 100%;
    height: auto;
}


/* MEDIA QUERIES FOR SHOWCASE */

@media(max-width: 490px) {

/* SHOWCASE */

section#showcase {
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 0;
    overflow: hidden;
}
section#showcase figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section#showcase form {
    width: 90%;
    height: 10vh;
    margin-top: 10px;
    margin-left: 2vw;
    margin-right: 2vw;
}
section#showcase form input[type="text"] {
    
    width: 85%;
    height: 8vh;
    overflow: hidden;
    float: left;
    border: 1px solid #eee;
    border-radius: 0 4px 4px 0;
    margin-bottom: -0.7%;
    border-left: none;
    margin: none;
    background: #fff;
}
section#showcase form button {
    height: 8vh;
    width: 10%;
    float: left;
    border: 1px solid #eee;
    border-radius: 0 4px 4px 0;
    border-right: none;
    background: #fff;
    margin-left: none;
    font-size: 2em;
    opacity: 0.7;
}


.shadow-text {

    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    margin-top: 10vh;
    margin-left: 9vw;
    margin-right: 50vw;
    text-align: center;
}

.shadow-text p.rating {
    font-family: sans-serif;
    opacity: 0.7;
    color: black;
}

.shadow-text p span.half-star {
    margin-right: 2px;
    opacity: 0.5;
}
.shadow-text h2 {
    font-size: 2em;
    margin-bottom: 4vh;
    line-height: 1.5em;
}
.shadow-text a {
    background: #678fff;
    color: #fff;
    height: 9vh;
    margin: 4vh 1vw 4vh 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
section#showcase figure.back img {
    width: 100%;
    height: auto;
}

}

@media(max-width: 790px) {

    /* SHOWCASE */
    
    section#showcase {
        width: 100%;
        height: auto;
        margin-top: 120px;
        margin-bottom: 0;
        overflow: hidden;
        margin-left: 10%;
    }
    section#showcase figure.logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    section#showcase form {
        width: 90%;
        height: 10vh;
        margin-top: 10px;
        margin-left: 2vw;
        margin-right: 2vw;
        overflow: hidden;
    }
    section#showcase form input[type="text"] {
        
        width: 85%;
        height: 8vh;
        overflow: hidden;
     
        border: 1px solid #eee;
        border-radius: 0 4px 4px 0;
        margin-bottom: -0.7%;
        border-left: none;
        margin: none;
        background: #fff;
    }
    section#showcase form button {
        height: 8vh;
        width: 10%;
        border: 1px solid #eee;
        border-radius: 0 4px 4px 0;
        border-right: none;
        background: #fff;
        margin-left: none;
        font-size: 2em;
        opacity: 0.7;
    }
    
    
    .shadow-text {
    
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
        margin-top: 10vh;
        margin-left: 9vw;
        margin-right: 50vw;
        text-align: center;
    }
    
    .shadow-text p.rating {
        font-family: sans-serif;
        opacity: 0.7;
        color: black;
    }
    
    .shadow-text p span.half-star {
        margin-right: 2px;
        opacity: 0.5;
    }
    .shadow-text h2 {
        font-size: 2em;
        margin-bottom: 4vh;
        line-height: 1.5em;
    }
    .shadow-text a {
        background: #678fff;
        color: #fff;
        height: 9vh;
        margin: 4vh 1vw 4vh 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1em;
    }
    section#showcase figure.back img {
        width: 80%;
        height: auto;
    }
    
    }

/* SECTION THREE */

section#third-sec {
    background: #0f9e37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50vh;
    color: #fff;
}
section#third-sec h2 {
    margin-top: 55vh;
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 3em;
    text-align: center;
}

section#third-sec p {
    margin-bottom: 5vh;
    width: 35vw;
    font-size: 1.5em;
    text-align: center;
}
section#third-sec a {
    margin-bottom: 5vh;
    width: 35vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: darkgreen;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#third-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}

/* MEDIA QUERIES FOR THIRD SECTION */

@media (max-width: 490px) {

    /* SECTION THREE */

section#third-sec {
    background: #0f9e37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: auto;
}
section#third-sec h2 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    width: 50vw;
    font-size: 2em;
    text-align: center;
}

section#third-sec p {
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 1.0em;
    text-align: center;
}
section#third-sec a {
    margin-bottom: 15vh;
    width: 45vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.0em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: darkgreen;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#third-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}

}

/* SECTION FOUR */

section#fourth-sec {
    background: #e7750a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
section#fourth-sec h2 {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 3em;
    text-align: center;
}

section#fourth-sec p {
    margin-bottom: 5vh;
    width: 35vw;
    font-size: 1.5em;
    text-align: center;
}
section#fourth-sec a {
    margin-bottom: 5vh;
    width: 35vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: rgb(189, 44, 8);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#fourth-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}

/* MEDIA QUERIES FOR FOURTH SECTION */

@media (max-width: 490px) {

    /* SECTION FOUR */

section#fourth-sec {
    background: #e7750a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: auto;
}
section#fourth-sec h2 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    width: 50vw;
    font-size: 2em;
    text-align: center;
}

section#fourth-sec p {
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 1.0em;
    text-align: center;
}
section#fourth-sec a {
    margin-bottom: 15vh;
    width: 45vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.0em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: rgb(218, 37, 5);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#fourth-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}


}


/* SECTION FIFTH */

section#fifth-sec {
    background: #5f63bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
section#fifth-sec h2 {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 3em;
    text-align: center;
}

section#fifth-sec p {
    margin-bottom: 5vh;
    width: 35vw;
    font-size: 1.5em;
    text-align: center;
}
section#fifth-sec a {
    margin-bottom: 5vh;
    width: 35vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: rgb(112, 22, 105);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#fifth-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}

/* MEDIA QUERIES FOR FIFTH SECTION */

@media (max-width: 490px) {

    /* SECTION Five */

section#fifth-sec {
    background: #5f63bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: auto;
}
section#fifth-sec h2 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    width: 50vw;
    font-size: 2em;
    text-align: center;
}

section#fifth-sec p {
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 1.0em;
    text-align: center;
}
section#fifth-sec a {
    margin-bottom: 15vh;
    width: 45vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.0em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: rgb(112, 22, 105);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#fifth-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}


}

/* SECTION FIFTH */

section#sixth-sec {
    background: #6cc4da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
section#sixth-sec h2 {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 3em;
    text-align: center;
}

section#sixth-sec p {
    margin-bottom: 5vh;
    width: 35vw;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
}
section#sixth-sec a {
    margin-bottom: 5vh;
    width: 35vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: rgb(34, 51, 150);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#sixth-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}

section#sixth-sec div.container{
    margin-top: 2vh;
}

section#sixth-sec span.col a {
    display: block;
    float: left;
    text-align: right;
    background: transparent;
    font-size: large;
    color: #222;
    margin-left: 1vw;
    
}
section#sixth-sec span.close a {
    text-align: left;
}

/* MEDIA QUERIES FOR SIXTH SECTION */

@media (max-width: 490px) {

    /* SECTION SIXTH */

section#sixth-sec {
    background: #6cc4da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    height: auto;
}
section#sixth-sec h2 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    width: 50vw;
    font-size: 2em;
    text-align: center;
}

section#sixth-sec p {
    margin-bottom: 5vh;
    width: 45vw;
    font-size: 1.0em;
    text-align: center;
}
section#sixth-sec a {
    margin-bottom: 15vh;
    width: 45vw;
    height: 10vh;
    overflow-x: none;
    font-size: 1.0em;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background: rgb(39, 56, 153);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#sixth-sec figure.image img {
    width: 100%;
    overflow-x: hidden;
}


}

/* footer-homepage */
footer {
    
    padding: 30px;
    background-color:  #ffe;
    width: 100%;
    overflow: hidden;
}
 footer p {
    color: black;
    justify-content: center;
    display: flex;
    width: 100%;
}

footer h3 {
    color: rgb(236, 14, 151);
    justify-content: center;
    display: flex;
}


/* SUPPORT AREA */

#links {
    background:  #ffe;
    width: 100%;
    display: flex;
    padding: 15px;
    overflow: hidden;
   
}

#links li a {
    color: rgb(45, 13, 224);
    text-align: left;
    padding: 10px;
    text-decoration: underline;
    overflow: hidden;
  }




